/* Style Footer */
.footer{
    text-align: center;
    font-size: 12pt;
    color: black;
    background: grey;
}
/* Style Header */
.header{
    font-size:16pt;
    text-align: center;
    font-weight: bold;
}